.home {
  text-align: center;
}

.home h2,
h3 {
  margin: 0;
}

input {
  width: 90%;
  margin: 2% 5%;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}

.container div {
  border: 1px solid #fff;
  width: 98%;
  margin: 0 1%;
  text-align: right;
  padding: 0;
}

.container div span {
  display: flex;
  font-size: 52px;
  margin: 0;
  justify-content: center;
}

.container p {
  height: 120px;
  margin: 0;
}

.container div p {
  vertical-align: bottom;
}

.link {
  color: black;
  text-decoration: none;
}
